<div class="gallery-item">
    <a href="/detail-product/<%=products.id%>">
        <img src="/img/<%= products.image %>" alt="" class="gallery-img">
        <h3 class="gallery-title"><%= products.name %></h3>
    </a>
</div> 